<!-- BARRA SUPERIOR -->
<div class="contenedor_superior bg-azul-mar">
  <div class="contenedor_lot">
    <!-- LOGO -->
    <img class="logo1" src="img/logo.png" alt="Logo de Mariscos">

    <div class="barra-busqueda">
      <input type="text" placeholder="Buscar mariscos, platillos, bebidas...">
      <button class="btn_buscar">
        <img src="img/busqueda.png" alt="Buscar">
      </button>
    </div>

    <nav class="menu-acciones">
      <a class="whatsapp" href="https://web.whatsapp.com/">
        <img src="img/whasap.png" alt="WhatsApp">
        Whatsapp
      </a>
      <!-- BOTÓN DEL CARRITO ACTUALIZADO -->
      <a class="carrito" (click)="goToCart()" style="cursor: pointer;">
        <img src="img/carrito.png" alt="Carrito"> Mi carrito
      </a>

      <div class="desplegar_menu">
        <div class="menu-trigger">
          <img src="img/icons8-menú-50.png" alt="">
          <p>Herramientas</p>
        </div>
        <div class="opciones-menu">
          <a routerLink="Login" class="opcion-menu">Administrador</a>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="contenedor_casicentro">
  <div class="contenedor_a">
    <a (click)="goHome()">INICIO</a>
    <a routerLink="Drink" (click)="setHome(false)">BEBIDAS</a>
    <a routerLink="Food" (click)="setHome(false)">PLATILLOS</a>
    <a routerLink="special" (click)="setHome(false)">ESPECIALES DEL MAR</a>
    <a routerLink="prmotion" (click)="setHome(false)">PROMOCIONES</a>
    <a routerLink="celebrate" (click)="setHome(false)">FESTEJA CON NOSOTROS</a>
  </div>
</div>

<div class="Home_visible" *ngIf="homeActive">
  <app-home></app-home>
</div>
<router-outlet *ngIf="!homeActive"></router-outlet>